<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    {{{body}}}
</body>
<script>
    const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '745ca4026emshc369b12cf50acffp18d178jsn7dddbc0b0900',
		'X-RapidAPI-Host': 'rawg-video-games-database.p.rapidapi.com'
	}
};

fetch('https://rawg-video-games-database.p.rapidapi.com/games?key=6c2a5a51704d4dffbbe62360ff856c8a', options)
	.then(response => response.json())
	.then(response => console.log(response))
	.catch(err => console.error(err));
</script>
</html>