<!-- MAIN POST CONTENT -->
<div class="container-fluid post-container ">
    <div class="card-columns">
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card " >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum placeat fugiat corrupti nihil voluptate alias eos ullam aliquam, debitis, consequatur maxime maiores autem a expedita et, perspiciatis sunt animi quod.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>  
      </div><!-- END OF CARD COLUMN  -->
</div>
<div>
    <nav>
    <a href="/post">Create Post</a>
    </nav>
</div>