<body>
    <div class="container login-container">
        <h1 class="display-1">Vinder</h1> 
            <h2> don't play alone anymore
            </h2>
        <h4 class="lead">Account Login</h4>
            <div class="form-group">
                <!-- <label for="usr">User Name:</label> -->
                <input type="text" class="form-control" id="usr" placeholder="User Name">
            </div>
            <div class="form-group">
                <!-- <label for="pwd">Password:</label> -->
                <input type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="button-container">
                <div>
                    <button type="button" class="btn">Login</button>
                </div>
                <div>
                    <button type="button" class="btn">Create Account</button>
                </div>
            </div>
    </div>
</form>
</body>